.MY_TITLE
{
	text-align: center;
	margin: 10px;
	padding: 2px;
}

.MY_MAIN
{
	margin: 10px;
	padding: 5px;
}

.MY_FOOTER
{
	margin: 10px;
	padding: 5px;
}

.MY_IT_BOOK_INTRODUCTION_DIV
{
	margin: 5px;
	padding: 2px;
}

.MY_CPP_FOUNDATION_INTRODUCTION_DIV
{
	margin: 5px;
	padding: 2px;
}

.MY_BOOK_SECTION
{
	margin: 5px;
	padding: 2px;
}

.MY_CPP_FOUNDATION_DESCRIPTION
{
	margin: 5px;
	padding: 5px;
}

.MY_CPP_FOUNDATION_FEATURES_SECTION
{
	margin: 5px;
	padding: 5px;
}